---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h1 class="text-5xl pb-10 text-center">About</h1>
            <p>EACDcon is an opportunity for our department to get together and share our skills &amp; achievements. We want everybody to have an opportunity to present something you've worked on or has the potential to improve our daily work. Case studies, tech preview, and reviews of recent projects will be showcased across the department.</p>
            <p class="pt-4">We are trying to book an exciting guest speak for a totally different perspective!</p>
            <p class="pt-4">This event is meant for EACD staff and run by EACD staff. A few hand-picked guests will be invited to join in the fun.</p>
            <p class="pt-4">Lunch will be provided, and we hope you will join us afterwards at <a href="https://www.fiveanddimeevanston.com/" class="underline text-nu-purple">Five and Dime</a>.</p>
        </section>
    </div>
</Layout>