---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h1 class="text-5xl pb-10 text-center">Coming Soon</h1>
        </section>
    </div>
</Layout>