---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h1 class="text-5xl pb-10 text-center">Attend</h1>
            <p>All EACD staff will receive a calendar invite. Lunch will be served on 1800 Sherman's 2<sup>nd</sup> floor, and then we will move to the <a href="https://maps.app.goo.gl/oEh1kPfNQMH982q29" class="underline text-nu-purple">Seeley G. Mudd Library, room 2124</a> for the presentations.</p>
            <p class="pt-4">This will be an in-person event. Earlier in the day, the Extended Staff Meeting will be taking place on campus, and you are encouraged to attend that first!</p>
            <p class="pt-4">If you are not a member of the department but want to attend, or you have a suggestion for the guest list, please contact <a href="mailto:nick.evans@northwestern.edu" class="underline text-nu-purple">the organizer</a>.
        </section>
    </div>
</Layout>