---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h1 class="text-5xl pb-10 text-center">Credits</h1>
            <p>The Willie the Wildcat photo featured on the homepage is used under the CC BY-SA 4.0 license. The photo was taken by Wikipedian <a href="https://en.wikipedia.org/wiki/User:TonyTheTiger" class="underline text-nu-purple">TonyTheTiger</a>, who also happens to serve as the director of <a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Chicago" class="underline text-nu-purple">WikiProject Chicago</a>. What a legend!</p>
            <p class="pt-2">The EACDcon logo was created by <a href="mailto:austinvanderwilt@gmail.com" class="underline text-nu-purple">Austin Vanderwilt</a> on commission. She did an incredible job!</p>
        </section>
    </div>
</Layout>