---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h1 class="text-5xl pb-10 text-center">Present at EACDcon</h1>
            <p>At the request-for-proposal stage of planning EACDcon, we are soliciting rough ideas for talks until January 30<sup>th</sup>, 2024.</p>
            <p class="pt-4">You do not need a ready-made talk to submit a proposal. All you need is a subject and a rough idea of how long you want to talk. There are three sizes of timeslot: lightning talks, 30 minute talks, and hour-long keynote slots. You can present solo, or you can present jointly with a few other team members.</p>
            <p class="pt-4">Your proposed talk should be relevant to EACD's work. It does not necessarily need to be about a technology or project that we're currently working on, or even entirely tech-related. The sorts of things we're looking for are:</p>
            <ul class="list-disc list-inside pl-8 pt-4">
                <li>Demonstration of something you've worked on recently that you're proud of</li>
                <li class="pt-1">Case study on a specific problem (<a class="text-nu-purple underline" href="https://soap-docs.entapp.northwestern.edu/case-study/dueling-identities.html">example</a>), how you figured it out, and how it was remediated</li>
                <li class="pt-1">Alternative tool choice that we could adopt &amp; how we'd use it to improve</li>
                <li class="pt-1">Anything that you think might benefit the rest of the team!</li>
            </ul>
            <p class="pt-4"><strong class="underline decoration-nu-purple decoration-3 underline-offset-4">We may not accept every proposal.</strong> You will be notified if your talk was accepted by February 7<sup>th</sup>, 2024. Please hold off on working on your presentation until then!</p>
            <p class="pt-4">If your proposal is accepted, you will be expected to prepare a slide deck, demo, or another similar visual artifact for your talk. We ask that you spend no more than 4-5 hours preparing your presentation.</p>

            <div class="mt-10 flex justify-center flex-col lg:flex-row">
                <a
                    href="https://forms.office.com/pages/responsepage.aspx?id=YdN2fXeCCEekd2ToNmzRvOzB4aUdmOJFsRoXJni45RxUOFNBMkFNMFRIR1dNMzFONFRHN0JTTVBaUy4u&origin=lprLink"
                    class="bg-nu-purple text-2xl block items-center px-8 py-3 font-semibold tracking-tighter text-white hover:opacity-75 mt-5 lg:mt-0"
                >
                    Submit a Talk
                </a>
            </div>
        </section>
    </div>
</Layout>