---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black text-xl">
            <h2 class="text-5xl pb-10 text-center">Present at EACDcon</h2>
            <p>At the request-for-proposal stage of planning EACDcon, we are soliciting rough ideas for talks. You do not need a ready-made talk to submit a proposal. All you need is a subject and a rough idea of how long you want to talk.</p>
            <p class="pt-4">We'll be offering three sizes of timeslot: lightning talks, 30 minute talks, and hour-long keynote slots.</p>
            <p class="pt-4">Your proposed talk should be relevant to EACD's work. It does not necessarily need to be about a technology or project that we're currently working on, or even entirely tech-related.</p>
            <p class="pt-4">Aside from obvious topics like "here's a new AWS" service, something like a new JS library we could benefit from, data science tools we could integrate into our products, or a new way to manage/test development work would all be good talks!</p>
            <p class="pt-4">EACDcon is also about celebrating our achievements. If you would like to provide a look into a recent project or one of your applications, that's fine too!</p>
            <p class="pt-4">You will be notified if your talk was accepted by February 15th, 2024.</p>

            <div class="mt-10 flex justify-center flex-col lg:flex-row">
                <a
                    href="https://forms.office.com/pages/responsepage.aspx?id=YdN2fXeCCEekd2ToNmzRvOzB4aUdmOJFsRoXJni45RxUOFNBMkFNMFRIR1dNMzFONFRHN0JTTVBaUy4u&origin=lprLink"
                    class="bg-nu-purple text-2xl block items-center px-8 py-3 font-semibold tracking-tighter text-white hover:opacity-75 mt-5 lg:mt-0"
                >
                    Submit a Talk
                </a>
            </div>
        </section>
    </div>
</Layout>