---
import Layout from '../layouts/Layout.astro';
import Talk from '../components/Talk.astro';
---
<Layout>
    <div class="max-w-4xl mx-auto">
        <section class="w-full text-black">
            <h1 class="text-5xl pb-10 text-center">Schedule</h1>
            <div class="text-small lg:text-center mb-10">
                <p>Times are shown in the America/Chicago timezone, and take place on February 27<sup>th</sup>, 2024.</p>
            </div>

            <div class="px-5 py-1 bg-white rounded-lg">
                <Talk title="Extended Staff Meeting" time="9 AM" duration="1 hour 30 minutes" presenters={['NUIT Leadership']}>
                    <p>Please join Sean Reynolds and other university leaders at the Allen Center for our quarterly NUIT staff meeting.</p>
                </Talk>

                <Talk title="Lunch" time="12:00 PM" duration="45 minutes" presenters={['EACD Leadership']}>
                    <p>EACDcon kicks off with a catered lunch for all presenters &amp; attendees in the adjacent conference room #218! <em>Caterer TBA.</em></p>
                </Talk>

                <Talk title="Impacts of Web Accessibility" time="2:00 PM" duration="45 minutes" presenters={['James R. Stachowiak', 'AccessibleNU Team']} isLast={ true }>
                    <p>Our special guest, <a href="https://www.northwestern.edu/accessiblenu/" class="underline text-nu-purple">AccessibleNU</a>, will showcase examples of good &amp; bad web design for people using EACD's applications with accessibility aids like <a href="https://www.freedomscientific.com/products/software/jaws/" class="underline text-nu-purple">JAWS</a>.</p>
                    <p class="pt-2">This will demonstrate the impacts of our web design decisions, and what fixing all those fiddly Axe errors is doing for our users.</p>
                </Talk>
            </div>

        </section>
    </div>
</Layout>